/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #892CDC;
    --magenta: #03C4A1;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --red: #C70039;
    --font-size: 1.3rem;
    --mono: "IBM", monospace;
    --sans: Sans, sans-serif;
}
