---
import BaseLayout from "../layouts/BaseLayout.astro";

import { DEFAULT_LANG } from "src/consts";
return Astro.redirect(`/${DEFAULT_LANG}/`);
---

<BaseLayout>
	 <section id="intro">
   		<p class="name">Hi, my name is <span>Andrew Weisbeck.</span></p>
    	<h2>I love writing awesome code that solves problems and saves money for small businesses.</h2>
		<h3 class="headlineintro">Freelance Full-Stack Developer | Durham-Chapel Hill, NC <img id="ncflag" class="ncflagicon" alt="north carolina state flag by icons8.com" src="https://img.icons8.com/color/48/000000/north-carolina-flag.png"/></h3>
		<h4>I'm currently seeking new opportunities as a full-stack developer or software engineer - to learn more about my experience check out my <a href="https://andrewweisbeck.com" class="buttontwo">Resume</a>.</h4>
		<p>You can view some of my latest writing on my <a href="/blog">Blog</a>, or by reading my <a href="https://geauxweisbeck4.substack.com">Newsletter</a>.</p>
		<p>Follow me on Twitter <a href="https://twitter.com/GeauxWeisbeck4">@GeauxWeisbeck4</a> to keep up with me - feel free to say hi!</p>
	</section>



<div class="section-plum">
<section id="contact">
  <h2>Contact me</h2>
<p>
Do you need a full stack developer to code your dream app? Have a research opportunity? Want to hire me or donate to a project?
  </p>
  <p><a href="mailto:andrew@geauxweisbeck4.dev" class="button">Email me</a></p>
</section>
</div>

</BaseLayout>
