---
import { sortProjects } from '../../utils/sortProjects';
import FeaturedProjectCard from './FeaturedProjectCard.astro';

const projects = [
  {
    title: 'Andrew Developer Portfolio Site',
    description: 'Full-Stack Developer Portfolio Website',
    summaryOne: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.',
    summaryTwo: 'Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.',
    imageUrl: '/blog-placeholder-3.jpg',
    repoLink: 'https://github.com/geauxweisbeck4/geauxweisbeck4.dev',
    link: 'https://geauxweisbeck4.dev',
    technologies: ['astro', 'typescript', 'html', 'css']
  },
  {
    title: 'MT Man Adventures',
    description: 'Blog Website',
    summaryOne: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.',
    summaryTwo: 'Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.',
    imageUrl: '/blog-placeholder-5.jpg',
    repoLink: 'https://github.com/geauxweisbeck4/mtman.ventures',
    link: 'https://mtman.ventures',
    technologies: ['html', 'javascript', 'eleventy', 'css', 'decap-cms']
  },
  {
    title: 'Damn Snake Game',
    description: 'Made in Python',
    summaryOne: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.',
    summaryTwo: 'Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.',
    imageUrl: '/blog-placeholder-4.jpg',
    repoLink: 'https://github.com/geauxweisbeck4/damn-snake-game',
    link: 'https://github.com/GeauxWeisbeck4/damn-snake-game',
    technologies: ['python', 'turtle', 'github', 'ubuntu']
  },
  {
    title: 'Geaux Pomodoro Timer',
    description: 'Improve Productivity and Workflow',
    summaryOne: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.',
    summaryTwo: 'Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.',
    imageUrl: '/blog-placeholder-2.jpg',
    repoLink: 'https://github.com/GeauxWeisbeck4/geauxpomodorotimer',
    link: 'https://github.com/GeauxWeisbeck4/geauxpomodorotimer',
    technologies: ['python', 'tkinter', 'github']
  },
  {
    title: 'Personal Resume & Portfolio',
    description: '@GeauxWeisbeck4 Personal Website',
    summaryOne: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.',
    summaryTwo: 'Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.',
    imageUrl: '/blog-placeholder-1.jpg',
    repoLink: 'https://github.com/geauxweisbeck4/geaux-code-portfolio',
    link: 'https://geauxweisbeck4.dev',
    technologies: ['astro', 'css', 'typescript']
  }
];


const { projectArray, reversedProjectArray } = sortProjects(projects);

const combinedProjects = [];
for (let i = 0; i < Math.max(projectArray.length, reversedProjectArray.length); i++) {
  if (i < projectArray.length) combinedProjects.push({ project: projectArray[i], reverse: false });
  if (i < reversedProjectArray.length) combinedProjects.push({ project: reversedProjectArray[i], reverse: true });
}
---
<section class="section-blue" id="projects">
  <div class="head-two">
    <h2>Featured Projects</h2>
  </div>
  <div class="project-cards">
  {combinedProjects.map(({ project, reverse }) => (
    <FeaturedProjectCard  project={project} reverse={reverse} />
  ))}
  </div>
</section>
<style>
@media (min-width: 800px) {
  .project-cards {
    display: flex; 
    flex-direction: column;
    gap: 2rem;
  }
}

</style>