---
import FeaturedBlogPostCard from "./FeaturedBlogPostCard.astro";
---
<section id="posts">
    <div class="head-two">
      <h2>Recent Blog Posts</h2>
    </div>
        <div class="posts-div">
            <FeaturedBlogPostCard />
            <FeaturedBlogPostCard />
            <FeaturedBlogPostCard />
        </div>
    
    
    <!-- {combinedProjects.map(({ project, reverse }) => (
      <FeaturedProjectCard  project={project} reverse={reverse} />
    ))} -->
</section>
<style>
    /* Posts Section */
    #posts {
        padding: 2rem 1rem 2rem 1rem;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    #posts .head-two {

    }
    #posts .posts-div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
</style>