---
import { sortProjects } from '../../utils/sortProjects';
import FeaturedProjectCard from './FeaturedProjectCard.astro';

const projects = [
  {
    title: 'Andrew Developer Portfolio Site',
    description: 'Full-Stack Developer Portfolio Website',
    summaryOne: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.',
    summaryTwo: 'Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.',
    imageUrl: '/blog-placeholder-3.jpg',
    link: 'https://geauxweisbeck4.dev',
    technologies: ['Astro', 'Typescrpit', 'HTML', 'CSS']
  },
  {
    title: 'MT Man Adventures',
    description: 'Blog Website',
    summaryOne: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.',
    summaryTwo: 'Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.',
    imageUrl: '/blog-placeholder-5.jpg',
    link: 'https://mtman.ventures',
    technologies: ['HTML, CSS, and JavaScript', '11ty Static Site Generator', 'Netlify Website Hosting and CMS']
  },
  {
    title: 'Damn Snake Game',
    description: 'Made in Python',
    summaryOne: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.',
    summaryTwo: 'Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.',
    imageUrl: '/blog-placeholder-4.jpg',
    link: 'https://github.com/GeauxWeisbeck4/damn-snake-game',
    technologies: ['Python (Turtle Module)', 'Github', 'Ubuntu Linux']
  },
  {
    title: 'Geaux Pomodoro Timer',
    description: 'Improve Productivity and Workflow',
    summaryOne: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.',
    summaryTwo: 'Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.',
    imageUrl: '/blog-placeholder-2.jpg',
    link: 'https://github.com/GeauxWeisbeck4/geauxpomodorotimer',
    technologies: ['Python', 'tkinter', 'GitHub']
  },
  {
    title: 'Personal Resume & Portfolio',
    description: '@GeauxWeisbeck4 Personal Website',
    summaryOne: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.',
    summaryTwo: 'Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.',
    imageUrl: '/blog-placeholder-1.jpg',
    link: '#',
    technologies: ['HTML', 'CSS Grid', 'JavaScript', 'MEAN Stack']
  }
];


const { projectArray, reversedProjectArray } = sortProjects(projects);

const combinedProjects = [];
for (let i = 0; i < Math.max(projectArray.length, reversedProjectArray.length); i++) {
  if (i < projectArray.length) combinedProjects.push({ project: projectArray[i], reverse: false });
  if (i < reversedProjectArray.length) combinedProjects.push({ project: reversedProjectArray[i], reverse: true });
}
---
<section class="section-blue" id="projects">
  <div class="head-two">
    <h2>Featured Projects</h2>
  </div>
  {combinedProjects.map(({ project, reverse }) => (
    <FeaturedProjectCard  project={project} reverse={reverse} />
  ))}
</section>