<section id="intro">
   	<p class="name">Hi, my name is <span>Andrew Weisbeck.</span></p>
    <h2>I love writing awesome code that solves problems and saves money for small businesses.</h2>
	<h3 class="headlineintro">Freelance Full-Stack Developer | Durham-Chapel Hill, NC <img id="ncflag" class="ncflagicon" alt="north carolina state flag by icons8.com" src="https://img.icons8.com/color/48/000000/north-carolina-flag.png"/></h3>
	<h4>I'm currently seeking new opportunities as a full-stack developer or software engineer - to learn more about my experience check out my resume by clicking the button below. You can also reach out to me by clicking the contact button if you would like to ask me question or talk about anything.</h4>

    <a href="https://andrewweisbeck.com" class="buttontwo">Resume</a>
    <a href="/contact" class="buttontwo">Contact</a>

</section>
