<section id="intro">
    <p class="name">Welcome to the Home of: <span>Andrew Weisbeck</span></p>
    <h2 class="intro-desc">I love to write clean code, create user-friendly apps, and design tech products for small businesses and non-profits.</h2>   

    <h3>What You Will Find on GeauxWeisbeck4.dev:</h3>
    <p class="intro-text">The design for this version of my personal website is very similar to <a href="https://andrewsfirstportfolio.netlify.app/" class="versionone-btn" target="_blank">Version One</a> which was very crude as it was one of the first sites I ever made. The <a href="https://geauxweisbeck4.netlify.app" class="versiontwo-btn" target="_blank">Second Version</a> was a bit better and I decided that I wanted to come back to my original design after I was dissatisfied with my first attempt, so I used a <a href="https://geauxweisbeck4.dev" class="tempsite-btn" target="_btn">Temp Site</a> for brief period of time. <a href="https://geauxweisbeck4.dev" Learn a little bit more about me by visiting the <a href="/about" class="about-btn">About Page</a>, check out my recent/featured projects on the <a href="/portfolio" class="portfolio-btn">Portfolio Page</a>, or read content I have published on the<a href="/blog" class="buttonone" target="_blank">Blog Page</a>. 
        
        
        
        or visit my <a href="https://andrewweisbeck.com" class="buttontwo" target="_blank">Resume Website</a> to download my resume and learn about the four years of experience I have as a full-stack developer. .</p>
    
    <p class="intro-text">You can check out my freelance services at <a href="https://tarheeldevstudio.com" class="buttonthree" target="_blank">tarheeldevstudio.com</a> if you want to learn more about the full-stack web development, software design, and marketing services I you can hire me for. Don't hesitate to <a href="/contact" class="hire-btn" target="_blank">Contact Me</a> if you have job opportunity or would like to collaborate on a project or idea - I'm always open to try something new!</p>

    <br>
</section>