<section id="intro">
    <p class="name">Welcome to the Home of: <span>Andrew Weisbeck</span></p>
    <h2 class="intro-desc">I love to write clean code, create user-friendly apps, and design tech products for small businesses and non-profits.</h2>   

    <p class="intro-text">Thank you for visiting the most up to date portfolio website for Andrew Weisbeck - visit the <a href="/about" class="about-btn">About Page</a> to learn more about me! You will find my featured projects on the <a href="/portfolio" class="portfolio-btn">Portfolio Page</a> and can read my published content by visiting the website <a href="/blog" class="buttonone">Blog Section</a>.</p>
    
    <p class="intro-text">Check out my <a href="https://andrewweisbeck.com" class="buttontwo" target="_blank">Resume Website</a> to learn more about my work history and four years of experience as a freelance full-stack developer. <a href="/contact" class="buttonthree" target="_blank">Contact Me</a> if you would like to hire me, collaborate on a hackathon, or discuss a new job opportunity.</p>

    <br>
</section>