<nav>
	<ul>
        <li>
            <h1>
				<a class="logo" href="index.html"><span class="fa-solid fa-at"></span>GeauxWeisbeck4</a>
			</h1>
        </li>
        
        <li><a href="about.html">About</a></li>
        <li><a href="https://andrewweisbeck.blog">Blog</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="/links">Links</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="icon-margin"><a href="https://github.com/GeauxWeisbeck4"><span class="fa-brands fa-github-square"><span class="sr-only">Github</span></a></li>
        <li><a href="https://gitlab.com/geauxweisbeck4"><span class="fa-brands fa-gitlab"><span class="sr-only">GitLab</span></a></li>
        <li><a href="https://open.spotify.com/show/6qz6bgcLCBCiyLKlMi2JyZ?si=1f03ddd722ef4b58"><span class="fa-solid fa-podcast"></span></a></li>
        <li><a href="https://subscribe.geauxweisbeck4.dev" class="button">Subscribe</a></li>
    </ul>
</nav>
<style>
    logo {
        color: var(--blue);
    }
</style>