<nav>
	<ul>
        <li>
            <h1>
				<a href="index.html"><span class="fa-solid fa-at"></span></span>GeauxWeisbeck4</a>
			</h1>
        </li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="https://andrewweisbeck.blog">Blog</a></li>
        <li><a href="https://geauxweisbeck4.dev/section4">Section 4</a></li>
        <li><a href="https://www.linkedin.com/in/andrew-weisbeck-09542a7a/">  <i class="fa-brands fa-linkedin"></i>  </a></li>
        <li><a href="https://github.com/GeauxWeisbeck4"><span class="fa-brands fa-github-square"><span class="sr-only">Github</span></a></li>
        <li><a href="https://open.spotify.com/show/6qz6bgcLCBCiyLKlMi2JyZ?si=1f03ddd722ef4b58"><span class="fa-solid fa-podcast"></span></a></li>
        <li><a href="https://buttondown.email/GeauxWeisbeck4" class="button">Newsletter</a></li>
    </ul>
</nav>
