<p>Connect with me on social media:</p>
<div class="cta-buttons">
    <a href="https://dev.to/geauxweisbeck4" class="devto-link"><i class="fa-brands fa-dev"></i> Dev.to</a>
    <a href="https://geauxcode.dev" class="hashnode-link"><i class="fa-brands fa-hashnode"></i> Hashnode</a>
    <a href="https://andrewweisbeck.substack.com" class="substack-link"><i class="fa-solid fa-newspaper"></i> Substack</a>
    <a href="https://geauxweisbeck4.medium.com" class="medium-link"><i class="fa-brands fa-medium"></i> Medium</a>
    <a href="https://stackoverflow.com/users/17772593/geauxweisbeck4" class="stackoverflow-link"><i class="fa-brands fa-stack-overflow"></i> Stack Overflow</a>
    <a href="https://codepen.io/geauxweisbeck4" class="codepen-link"><i class="fa-brands fa-codepen"></i> Codepen</a>
    <a href="https://www.linkedin.com/in/geauxweisbeck4/" class="linkedin-link"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
    <a href="https://instagram.com/geauxweisbeck4" class="instagram-link"><i class="fa-brands fa-instagram"></i> Instagram</a>
</div>

<style>
    .devto-link {
        background-color: #000;
        color: #fff;
        padding: 0.5rem;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1rem;
    }
    .devto-link:hover {
        background-color: #fff;
        color: #000;
    }
    .hashnode-link {
        background-color: var(--blue);
        color: #fff;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 1rem;
    }
    .hashnode-link:hover {
        background-color: #fff;
        color: var(--blue);
        margin-left: 1rem;
    }
    .substack-icon {
        color: #000
    }
    .substack-link {
        background-color: var(--orange);
        color: #fff;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 1rem;
    }
    .substack-link:hover {
        background-color: #fff;
        color: var(--orange);
        margin-left: 1rem;
    }
    .medium-link {
        background-color: #fff;
        color: #000;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 1rem;
    }
    .medium-link:hover {
        background-color: #000;
        color: #fff;
        margin-left: 1rem;
    }
    .stackoverflow-link {
        background-color: var(--orange);
        color: #fff;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 1rem;
    }
    .stackoverflow-link:hover {
        background-color: #fff;
        color: var(--orange);
        margin-left: 1rem;
    }
    .codepen-link {
        background-color: #fff;
        color: #000;
        padding: 0.5rem;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1rem;
        margin-left: 1rem;
    }
    .codepen-link:hover {
        background-color: #000;
        color: #fff;
        margin-left: 1rem;
    }
    .linkedin-link {
        background-color: var(--darkblue);
        color: #fff;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 1rem;
    }
    .linkedin-link:hover {
        background-color: #fff;
        color: var(--darkblue);
        margin-left: 1rem;
    }
    .instagram-link {
        background-color: var(--magenta);
        color: #fff;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 1rem;
    }
    .instagram-link:hover {
        background-color: #fff;
        color: var(--magenta);
        margin-left: 1rem;
    }
</style>